#d1{
    border-width: 2px;
    border-style: solid;
    border-color: red;
}
#d2{
    border: solid greenyellow 3px;
}
#d3{
    border: solid khaki 2px;
    width: 100px;
    height: 100px;
}
#d4{
    border: solid khaki 2px;
    width: 100px;
    height: 100px;
    padding: 20px;
}
#d5{
    border: solid khaki 2px;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-left: 400px;
}