div{
    border: tomato solid 2px;
    width: 120px;
    height: 100px;
    margin: 5px;
    display: inline-block;
}
#d2{
    transform: rotateX(120deg);
}
#d3{
    transform: rotateY(70deg);
}
#d4{
    transform: rotate(40deg);
}
#d5{
    transform: translateY(80px);
}
#d6{
    transform: scaleX(2);
}
#d7{
    transform: scaleY(3);
}
#d8{
    transform: skewX(20deg);
}
#d9{
    transform: skewY(20deg);
}
